[submodule "counter/lib/forge-std"]
	path = counter/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "greeting/lib/forge-std"]
	path = greeting/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "SimpleBank/lib/forge-std"]
	path = SimpleBank/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "TokenSwap/lib/forge-std"]
	path = TokenSwap/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "TokenSwap/lib/openzeppelin-contracts"]
	path = TokenSwap/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "BatchTransfer/lib/forge-std"]
	path = BatchTransfer/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Auction/lib/forge-std"]
	path = Auction/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ERC20Mintable/lib/forge-std"]
	path = ERC20Mintable/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ERC20Mintable/lib/openzeppelin-contracts"]
	path = ERC20Mintable/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "voting/lib/forge-std"]
	path = voting/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "NFT/lib/forge-std"]
	path = NFT/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "NFT/lib/openzeppelin-contracts"]
	path = NFT/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
